Repository microsoft/coe-starter-kit, pull requests merged in 2021-07, with the labels that each got.

#676 Updates to User Role and App Related Permissions Fixes #123 and Fixes #600
  ALMAcceleratorForAdvancedMakers/SolutionPackage/CanvasApps/cat_poweropsdevopsedition_7f3f4.meta.xml
  ALMAcceleratorForAdvancedMakers/SolutionPackage/CanvasApps/cat_poweropsdevopsedition_7f3f4_DocumentUri_msapp_src/CanvasManifest.json
  ALMAcceleratorForAdvancedMakers/SolutionPackage/CanvasApps/cat_poweropsdevopsedition_7f3f4_DocumentUri_msapp_src/Connections/Connections.json
  ALMAcceleratorForAdvancedMakers/SolutionPackage/CanvasApps/cat_poweropsdevopsedition_7f3f4_DocumentUri_msapp_src/DataSources/Users.json
  ALMAcceleratorForAdvancedMakers/SolutionPackage/CanvasApps/cat_poweropsdevopsedition_7f3f4_DocumentUri_msapp_src/DataSources/splitCol.json
  ALMAcceleratorForAdvancedMakers/SolutionPackage/CanvasApps/cat_poweropsdevopsedition_7f3f4_DocumentUri_msapp_src/Entropy/AppCheckerResult.sarif
  ALMAcceleratorForAdvancedMakers/SolutionPackage/CanvasApps/cat_poweropsdevopsedition_7f3f4_DocumentUri_msapp_src/Entropy/Entropy.json
  ALMAcceleratorForAdvancedMakers/SolutionPackage/CanvasApps/cat_poweropsdevopsedition_7f3f4_DocumentUri_msapp_src/Entropy/checksum.json
  ALMAcceleratorForAdvancedMakers/SolutionPackage/CanvasApps/cat_poweropsdevopsedition_7f3f4_DocumentUri_msapp_src/Src/Components/Header_3.json
  ALMAcceleratorForAdvancedMakers/SolutionPackage/CanvasApps/cat_poweropsdevopsedition_7f3f4_DocumentUri_msapp_src/Src/Components/Preloader_1.json
  ALMAcceleratorForAdvancedMakers/SolutionPackage/CanvasApps/cat_poweropsdevopsedition_7f3f4_DocumentUri_msapp_src/Src/Components/TabControl_1.json
  ALMAcceleratorForAdvancedMakers/SolutionPackage/CanvasApps/cat_poweropsdevopsedition_7f3f4_DocumentUri_msapp_src/Src/EditorState/Home.editorstate.json
  ALMAcceleratorForAdvancedMakers/SolutionPackage/CanvasApps/cat_poweropsdevopsedition_7f3f4_DocumentUri_msapp_src/Src/Home.fx.yaml
  ALMAcceleratorForAdvancedMakers/SolutionPackage/CanvasApps/cat_poweropsdevopsedition_7f3f4_DocumentUri_msapp_src/pkgs/Components/Header.json
  ALMAcceleratorForAdvancedMakers/SolutionPackage/CanvasApps/cat_poweropsdevopsedition_7f3f4_DocumentUri_msapp_src/pkgs/Components/Preloader.json
  ALMAcceleratorForAdvancedMakers/SolutionPackage/CanvasApps/cat_poweropsdevopsedition_7f3f4_DocumentUri_msapp_src/pkgs/Components/TabControl.json
  ALMAcceleratorForAdvancedMakers/SolutionPackage/CanvasApps/cat_poweropsdevopsedition_7f3f4_DocumentUri_msapp_src/pkgs/TableDefinitions/App User Settings.json
  ALMAcceleratorForAdvancedMakers/SolutionPackage/CanvasApps/cat_poweropsdevopsedition_7f3f4_DocumentUri_msapp_src/pkgs/TableDefinitions/User Settings.json
  ALMAcceleratorForAdvancedMakers/SolutionPackage/CanvasApps/cat_poweropsdevopsedition_7f3f4_DocumentUri_msapp_src/pkgs/TableDefinitions/Users.json
  ALMAcceleratorForAdvancedMakers/SolutionPackage/Connectors/cat_5Fcustomazuredevops_connectionparameters.json
  ALMAcceleratorForAdvancedMakers/SolutionPackage/Other/Solution.xml
  ALMAcceleratorForAdvancedMakers/SolutionPackage/Roles/ALM Power App Access.xml
Labels: alm-accelerator, vnext

#767 CoE Starter Kit - Audit Logs: July Release
  CenterofExcellenceAuditLogs/SolutionPackage/Connectors/admin_5Foffice-20365-20management-20api.xml
  CenterofExcellenceAuditLogs/SolutionPackage/Connectors/admin_5Foffice-20365-20management-20api_connectionparameters.json
  CenterofExcellenceAuditLogs/SolutionPackage/Connectors/admin_5Foffice-20365-20management-20api_iconblob.Png
  CenterofExcellenceAuditLogs/SolutionPackage/Connectors/admin_5Foffice-20365-20management-20api_openapidefinition.json
  CenterofExcellenceAuditLogs/SolutionPackage/Connectors/admin_5Foffice-20365-20management-20api_policytemplateinstances.json
  CenterofExcellenceAuditLogs/SolutionPackage/Other/Customizations.xml
  CenterofExcellenceAuditLogs/SolutionPackage/Other/Solution.xml
  CenterofExcellenceAuditLogs/SolutionPackage/Workflows/AdminSyncAuditLogs-FA91974D-6E68-EA11-A811-000D3A31CF04.json
  CenterofExcellenceAuditLogs/SolutionPackage/Workflows/AdminSyncAuditLogs-FA91974D-6E68-EA11-A811-000D3A31CF04.json.data.xml
  CenterofExcellenceAuditLogs/SolutionPackage/Workflows/ChildAdminSyncLogs-751183FC-DB68-EA11-A811-000D3A31CF04.json
  CenterofExcellenceAuditLogs/SolutionPackage/Workflows/ChildAdminSyncLogs-751183FC-DB68-EA11-A811-000D3A31CF04.json.data.xml
  CenterofExcellenceAuditLogs/SolutionPackage/environmentvariabledefinitions/admin_TenantID/environmentvariabledefinition.xml
  CenterofExcellenceAuditLogs/SolutionPackage/environmentvariabledefinitions/admin_TimeIntervalInterval/environmentvariabledefinition.xml
  CenterofExcellenceAuditLogs/SolutionPackage/environmentvariabledefinitions/admin_TimeIntervalUnit/environmentvariabledefinition.xml
  CenterofExcellenceAuditLogs/deploy-prod-CenterofExcellenceAuditLogs.yml
  CenterofExcellenceAuditLogs/deploy-test-CenterofExcellenceAuditLogs.yml
  CenterofExcellenceAuditLogs/deploy-validation-CenterofExcellenceAuditLogs.yml
Labels: coe-starter-kit

#809 Theming solution: Fix version
  Theming/deploy-test-Theming.yml
  Theming/deploy-validation-Theming.yml
Labels: theming

#751 Updating security role privilege #123
  ALMAcceleratorForAdvancedMakers/SolutionPackage/CanvasApps/cat_poweropsdevopsedition_7f3f4.meta.xml
  ALMAcceleratorForAdvancedMakers/SolutionPackage/Other/Solution.xml
  ALMAcceleratorForAdvancedMakers/SolutionPackage/Roles/ALM Power App Access.xml
Labels: alm-accelerator

#827 Documentation Updates for July Release Fixes #513
  ALMAcceleratorForAdvancedMakers/.attachments/DEPLOYMENTCONFIGGUIDE/aadappvariables.png
  ALMAcceleratorForAdvancedMakers/.attachments/DEPLOYMENTCONFIGGUIDE/aadobjectid.png
  ALMAcceleratorForAdvancedMakers/.attachments/DEPLOYMENTCONFIGGUIDE/aadteamgroupvariables.png
  ALMAcceleratorForAdvancedMakers/.attachments/DEPLOYMENTCONFIGGUIDE/canvasschemaname.png
  ALMAcceleratorForAdvancedMakers/.attachments/DEPLOYMENTCONFIGGUIDE/componentappvariables.png
  ALMAcceleratorForAdvancedMakers/.attachments/DEPLOYMENTCONFIGGUIDE/connid.png
  ALMAcceleratorForAdvancedMakers/.attachments/DEPLOYMENTCONFIGGUIDE/connrefschema.png
  ALMAcceleratorForAdvancedMakers/.attachments/DEPLOYMENTCONFIGGUIDE/connrefvariables.png
  ALMAcceleratorForAdvancedMakers/.attachments/DEPLOYMENTCONFIGGUIDE/envvariableschema.png
  ALMAcceleratorForAdvancedMakers/.attachments/DEPLOYMENTCONFIGGUIDE/envvariablesvariables.png
  ALMAcceleratorForAdvancedMakers/.attachments/DEPLOYMENTCONFIGGUIDE/flowuniquename.png
  ALMAcceleratorForAdvancedMakers/.attachments/DEPLOYMENTCONFIGGUIDE/flowuniquename2.png
  ALMAcceleratorForAdvancedMakers/.attachments/DEPLOYMENTCONFIGGUIDE/image-20210217092809637.png
  ALMAcceleratorForAdvancedMakers/.attachments/DEPLOYMENTCONFIGGUIDE/image-20210217092931725.png
  ALMAcceleratorForAdvancedMakers/.attachments/DEPLOYMENTCONFIGGUIDE/image-20210217093038901.png
  ALMAcceleratorForAdvancedMakers/.attachments/DEPLOYMENTCONFIGGUIDE/image-20210217093237070.png
  ALMAcceleratorForAdvancedMakers/.attachments/DEPLOYMENTCONFIGGUIDE/image-20210217093914368.png
  ALMAcceleratorForAdvancedMakers/.attachments/DEPLOYMENTCONFIGGUIDE/image-20210217093946271.png
  ALMAcceleratorForAdvancedMakers/.attachments/DEPLOYMENTCONFIGGUIDE/image-20210217094104975.png
  ALMAcceleratorForAdvancedMakers/.attachments/DEPLOYMENTCONFIGGUIDE/image-20210217094247030.png
  ALMAcceleratorForAdvancedMakers/.attachments/DEPLOYMENTCONFIGGUIDE/image-20210217094341476.png
  ALMAcceleratorForAdvancedMakers/.attachments/DEPLOYMENTCONFIGGUIDE/image-20210309121221510.png
  ALMAcceleratorForAdvancedMakers/.attachments/DEPLOYMENTCONFIGGUIDE/image-20210622125304845.png
  ALMAcceleratorForAdvancedMakers/.attachments/DEPLOYMENTCONFIGGUIDE/image-20210622125523627.png
  ALMAcceleratorForAdvancedMakers/.attachments/DEPLOYMENTCONFIGGUIDE/image-20210622130424580.png
  ALMAcceleratorForAdvancedMakers/.attachments/DEPLOYMENTCONFIGGUIDE/image-20210708141947185.png
  ALMAcceleratorForAdvancedMakers/.attachments/DEPLOYMENTCONFIGGUIDE/image-20210708150430680.png
  ALMAcceleratorForAdvancedMakers/.attachments/DEPLOYMENTCONFIGGUIDE/image-20210708155446891.png
  ALMAcceleratorForAdvancedMakers/.attachments/DEPLOYMENTCONFIGGUIDE/image-20210709094855626.png
  ALMAcceleratorForAdvancedMakers/.attachments/DEPLOYMENTCONFIGGUIDE/image-20210709103432542.png
  ALMAcceleratorForAdvancedMakers/.attachments/GETTINGSTARTED/image-20210303085946610.png
  ALMAcceleratorForAdvancedMakers/.attachments/GETTINGSTARTED/image-20210401084558807.png
  ALMAcceleratorForAdvancedMakers/.attachments/GETTINGSTARTED/image-20210401084807231.png
  ALMAcceleratorForAdvancedMakers/.attachments/GETTINGSTARTED/image-3ccc9c10-4cd7-4188-9881-952bba2701dc.png
  ALMAcceleratorForAdvancedMakers/.attachments/SETUPGUIDE/SetServiceConnectionPermissions.png
  ALMAcceleratorForAdvancedMakers/.attachments/SETUPGUIDE/image-20210430150752479.png
  ALMAcceleratorForAdvancedMakers/.attachments/SETUPGUIDE/image-20210709131833638.png
  ALMAcceleratorForAdvancedMakers/.attachments/USERGUIDE/image-20210225172822543.png
  ALMAcceleratorForAdvancedMakers/.attachments/USERSETUPGUIDE/image-20210709143648234.png
  ALMAcceleratorForAdvancedMakers/.attachments/USERSETUPGUIDE/image-20210709143650319.png
  ALMAcceleratorForAdvancedMakers/.attachments/USERSETUPGUIDE/image-20210709143811208.png
  ALMAcceleratorForAdvancedMakers/.attachments/USERSETUPGUIDE/image-20210709144020206.png
  ALMAcceleratorForAdvancedMakers/.attachments/USERSETUPGUIDE/image-20210709145337373.png
  ALMAcceleratorForAdvancedMakers/.attachments/USERSETUPGUIDE/image-20210709150147074.png
  ALMAcceleratorForAdvancedMakers/.attachments/USERSETUPGUIDE/image-20210709150149120.png
  ALMAcceleratorForAdvancedMakers/DEPLOYMENTCONFIGGUIDE.md
  ALMAcceleratorForAdvancedMakers/GETTINGSTARTED.md
  ALMAcceleratorForAdvancedMakers/PIPELINESYNCGUIDE.md
  ALMAcceleratorForAdvancedMakers/README.md
  ALMAcceleratorForAdvancedMakers/SAMPLESOLUTIONSETUPGUIDE.md
  ALMAcceleratorForAdvancedMakers/SETUPGUIDE.md
  ALMAcceleratorForAdvancedMakers/USERGUIDE.md
  ALMAcceleratorForAdvancedMakers/USERSETUPGUIDE.md
Labels: alm-accelerator

#876 #785 Closing and Comment on Issues During Release
  CenterofExcellenceResources/Release/Pipelines/ALMAcceleratorForAdvancedMakers/create-github-release.yml
  CenterofExcellenceResources/Release/Pipelines/CoEStarterKit/create-github-release.yml
Labels: alm-accelerator, pipelines, vnext

#848 AA4AM Release Notes #513
  CenterofExcellenceResources/Release/Notes/ALMAcceleratorForAdvancedMakers/RELEASENOTES-202107.md
Labels: alm-accelerator

#900 Pushing ALM Accelerator Sample with latest version of PAC CLI
  ALMAcceleratorSampleSolution/SolutionPackage/CanvasApps/cat_devopskitsamplecanvasapp_c7ec5.meta.xml
  ALMAcceleratorSampleSolution/SolutionPackage/CanvasApps/cat_devopskitsamplecanvasapp_c7ec5_DocumentUri_msapp_src/Assets/Resources.json
  ALMAcceleratorSampleSolution/SolutionPackage/CanvasApps/cat_devopskitsamplecanvasapp_c7ec5_DocumentUri_msapp_src/Assets/SampleImage.json
  ALMAcceleratorSampleSolution/SolutionPackage/CanvasApps/cat_devopskitsamplecanvasapp_c7ec5_DocumentUri_msapp_src/CanvasManifest.json
  ALMAcceleratorSampleSolution/SolutionPackage/CanvasApps/cat_devopskitsamplecanvasapp_c7ec5_DocumentUri_msapp_src/ControlTemplates.json
  ALMAcceleratorSampleSolution/SolutionPackage/CanvasApps/cat_devopskitsamplecanvasapp_c7ec5_DocumentUri_msapp_src/Entropy/Entropy.json
  ALMAcceleratorSampleSolution/SolutionPackage/CanvasApps/cat_devopskitsamplecanvasapp_c7ec5_DocumentUri_msapp_src/Entropy/checksum.json
  ALMAcceleratorSampleSolution/SolutionPackage/CanvasApps/cat_devopskitsamplecanvasapp_c7ec5_DocumentUri_msapp_src/Src/Tests/Suite.fx.yaml
  ALMAcceleratorSampleSolution/SolutionPackage/CanvasApps/cat_devopskitsamplecanvasapp_c7ec5_DocumentUri_msapp_src/Src/Tests/Test_7F478737223C4B69.fx.yaml
  ALMAcceleratorSampleSolution/SolutionPackage/Connectors/cat_5Fenvironmentvariableconnector_policytemplateinstances.json
  ALMAcceleratorSampleSolution/SolutionPackage/Other/Solution.xml
  ALMAcceleratorSampleSolution/SolutionPackage/Workflows/GetEnvironmentVariables-D2F7F0E2-A1A9-EB11-B1AC-000D3A53C3C2.json.data.xml
Labels: alm-accelerator

#902 Pushing AA4M with latest version of PAC CLI
  ALMAcceleratorForMakers/SolutionPackage/CanvasApps/cat_powerappsgithubalm_742d6_DocumentUri_msapp_src/Assets/Images/ic_fluent_error_circle_24_regular.svg
  ALMAcceleratorForMakers/SolutionPackage/CanvasApps/cat_powerappsgithubalm_742d6_DocumentUri_msapp_src/Assets/Images/logoContoso.png
  ALMAcceleratorForMakers/SolutionPackage/CanvasApps/cat_powerappsgithubalm_742d6_DocumentUri_msapp_src/Assets/Resources.json
  ALMAcceleratorForMakers/SolutionPackage/CanvasApps/cat_powerappsgithubalm_742d6_DocumentUri_msapp_src/Assets/SampleAudio.json
  ALMAcceleratorForMakers/SolutionPackage/CanvasApps/cat_powerappsgithubalm_742d6_DocumentUri_msapp_src/Assets/SampleImage.json
  ALMAcceleratorForMakers/SolutionPackage/CanvasApps/cat_powerappsgithubalm_742d6_DocumentUri_msapp_src/Assets/SampleVideo.json
  ALMAcceleratorForMakers/SolutionPackage/CanvasApps/cat_powerappsgithubalm_742d6_DocumentUri_msapp_src/CanvasManifest.json
  ALMAcceleratorForMakers/SolutionPackage/CanvasApps/cat_powerappsgithubalm_742d6_DocumentUri_msapp_src/ControlTemplates.json
  ALMAcceleratorForMakers/SolutionPackage/CanvasApps/cat_powerappsgithubalm_742d6_DocumentUri_msapp_src/Entropy/Entropy.json
  ALMAcceleratorForMakers/SolutionPackage/CanvasApps/cat_powerappsgithubalm_742d6_DocumentUri_msapp_src/Entropy/checksum.json
  ALMAcceleratorForMakers/SolutionPackage/CanvasApps/cat_powerappsgithubalm_742d6_DocumentUri_msapp_src/Src/Components/Dialog.json
  ALMAcceleratorForMakers/SolutionPackage/CanvasApps/cat_powerappsgithubalm_742d6_DocumentUri_msapp_src/Src/Components/Header_3.json
  ALMAcceleratorForMakers/SolutionPackage/CanvasApps/cat_powerappsgithubalm_742d6_DocumentUri_msapp_src/Src/Components/Preloader_1.json
  ALMAcceleratorForMakers/SolutionPackage/CanvasApps/cat_powerappsgithubalm_742d6_DocumentUri_msapp_src/Src/Components/TabControl_1.fx.yaml
  ALMAcceleratorForMakers/SolutionPackage/CanvasApps/cat_powerappsgithubalm_742d6_DocumentUri_msapp_src/Src/Components/TabControl_1.json
  ALMAcceleratorForMakers/SolutionPackage/CanvasApps/cat_powerappsgithubalm_742d6_DocumentUri_msapp_src/Src/Home.fx.yaml
  ALMAcceleratorForMakers/SolutionPackage/CanvasApps/cat_powerappsgithubalm_742d6_DocumentUri_msapp_src/pkgs/Components/Header.json
  ALMAcceleratorForMakers/SolutionPackage/CanvasApps/cat_powerappsgithubalm_742d6_DocumentUri_msapp_src/pkgs/Components/Preloader.json
  ALMAcceleratorForMakers/SolutionPackage/CanvasApps/cat_powerappsgithubalm_742d6_DocumentUri_msapp_src/pkgs/Components/TabControl.fx.yaml
  ALMAcceleratorForMakers/SolutionPackage/CanvasApps/cat_powerappsgithubalm_742d6_DocumentUri_msapp_src/pkgs/Components/TabControl.json
  ALMAcceleratorForMakers/SolutionPackage/CanvasApps/cat_poweropsadmin_3c171_DocumentUri_msapp_src/Assets/Images/ic_fluent_error_circle_24_regular.svg
  ALMAcceleratorForMakers/SolutionPackage/CanvasApps/cat_poweropsadmin_3c171_DocumentUri_msapp_src/Assets/Images/logoContoso.png
  ALMAcceleratorForMakers/SolutionPackage/CanvasApps/cat_poweropsadmin_3c171_DocumentUri_msapp_src/Assets/Resources.json
  ALMAcceleratorForMakers/SolutionPackage/CanvasApps/cat_poweropsadmin_3c171_DocumentUri_msapp_src/Assets/SampleAudio.json
  ALMAcceleratorForMakers/SolutionPackage/CanvasApps/cat_poweropsadmin_3c171_DocumentUri_msapp_src/Assets/SampleImage.json
  ALMAcceleratorForMakers/SolutionPackage/CanvasApps/cat_poweropsadmin_3c171_DocumentUri_msapp_src/Assets/SampleVideo.json
  ALMAcceleratorForMakers/SolutionPackage/CanvasApps/cat_poweropsadmin_3c171_DocumentUri_msapp_src/CanvasManifest.json
  ALMAcceleratorForMakers/SolutionPackage/CanvasApps/cat_poweropsadmin_3c171_DocumentUri_msapp_src/ControlTemplates.json
  ALMAcceleratorForMakers/SolutionPackage/CanvasApps/cat_poweropsadmin_3c171_DocumentUri_msapp_src/Entropy/Entropy.json
  ALMAcceleratorForMakers/SolutionPackage/CanvasApps/cat_poweropsadmin_3c171_DocumentUri_msapp_src/Entropy/checksum.json
  ALMAcceleratorForMakers/SolutionPackage/CanvasApps/cat_poweropsadmin_3c171_DocumentUri_msapp_src/Src/App.fx.yaml
  ALMAcceleratorForMakers/SolutionPackage/CanvasApps/cat_poweropsadmin_3c171_DocumentUri_msapp_src/Src/Components/Dialog.json
  ALMAcceleratorForMakers/SolutionPackage/CanvasApps/cat_poweropsadmin_3c171_DocumentUri_msapp_src/Src/Components/Header_3.json
  ALMAcceleratorForMakers/SolutionPackage/CanvasApps/cat_poweropsadmin_3c171_DocumentUri_msapp_src/Src/Components/Preloader_1.json
  ALMAcceleratorForMakers/SolutionPackage/CanvasApps/cat_poweropsadmin_3c171_DocumentUri_msapp_src/Src/Components/TabControl_1.fx.yaml
  ALMAcceleratorForMakers/SolutionPackage/CanvasApps/cat_poweropsadmin_3c171_DocumentUri_msapp_src/Src/Components/TabControl_1.json
  ALMAcceleratorForMakers/SolutionPackage/CanvasApps/cat_poweropsadmin_3c171_DocumentUri_msapp_src/pkgs/Components/Header.json
  ALMAcceleratorForMakers/SolutionPackage/CanvasApps/cat_poweropsadmin_3c171_DocumentUri_msapp_src/pkgs/Components/Preloader.json
  ALMAcceleratorForMakers/SolutionPackage/CanvasApps/cat_poweropsadmin_3c171_DocumentUri_msapp_src/pkgs/Components/TabControl.fx.yaml
  ALMAcceleratorForMakers/SolutionPackage/CanvasApps/cat_poweropsadmin_3c171_DocumentUri_msapp_src/pkgs/Components/TabControl.json
  ALMAcceleratorForMakers/SolutionPackage/Other/Customizations.xml
  ALMAcceleratorForMakers/SolutionPackage/Other/Solution.xml
  ALMAcceleratorForMakers/SolutionPackage/Workflows/CreateProject-0405E906-DAE1-EA11-A813-000D3A56B702.json.data.xml
  ALMAcceleratorForMakers/SolutionPackage/Workflows/DeployToProd-076AFC29-3CE8-EA11-A817-000D3A1ABE26.json.data.xml
  ALMAcceleratorForMakers/SolutionPackage/Workflows/GetAppsAndFlows-73024DFE-53F2-EA11-A815-000D3A56B702.json.data.xml
Labels: alm-accelerator

#899 Pushing AA4AM with latest version of PAC CLI
  ALMAcceleratorForAdvancedMakers/SolutionPackage/CanvasApps/cat_poweropsdevopsedition_7f3f4.meta.xml
  ALMAcceleratorForAdvancedMakers/SolutionPackage/CanvasApps/cat_poweropsdevopsedition_7f3f4_DocumentUri_msapp_src/Assets/Images/ic_fluent_error_circle_24_regular.svg
  ALMAcceleratorForAdvancedMakers/SolutionPackage/CanvasApps/cat_poweropsdevopsedition_7f3f4_DocumentUri_msapp_src/Assets/Images/logoContoso.png
  ALMAcceleratorForAdvancedMakers/SolutionPackage/CanvasApps/cat_poweropsdevopsedition_7f3f4_DocumentUri_msapp_src/Assets/Resources.json
  ALMAcceleratorForAdvancedMakers/SolutionPackage/CanvasApps/cat_poweropsdevopsedition_7f3f4_DocumentUri_msapp_src/Assets/SampleAudio.json
  ALMAcceleratorForAdvancedMakers/SolutionPackage/CanvasApps/cat_poweropsdevopsedition_7f3f4_DocumentUri_msapp_src/Assets/SampleImage.json
  ALMAcceleratorForAdvancedMakers/SolutionPackage/CanvasApps/cat_poweropsdevopsedition_7f3f4_DocumentUri_msapp_src/Assets/SampleVideo.json
  ALMAcceleratorForAdvancedMakers/SolutionPackage/CanvasApps/cat_poweropsdevopsedition_7f3f4_DocumentUri_msapp_src/CanvasManifest.json
  ALMAcceleratorForAdvancedMakers/SolutionPackage/CanvasApps/cat_poweropsdevopsedition_7f3f4_DocumentUri_msapp_src/ControlTemplates.json
  ALMAcceleratorForAdvancedMakers/SolutionPackage/CanvasApps/cat_poweropsdevopsedition_7f3f4_DocumentUri_msapp_src/Entropy/Entropy.json
  ALMAcceleratorForAdvancedMakers/SolutionPackage/CanvasApps/cat_poweropsdevopsedition_7f3f4_DocumentUri_msapp_src/Entropy/checksum.json
  ALMAcceleratorForAdvancedMakers/SolutionPackage/CanvasApps/cat_poweropsdevopsedition_7f3f4_DocumentUri_msapp_src/Src/Components/Header_3.json
  ALMAcceleratorForAdvancedMakers/SolutionPackage/CanvasApps/cat_poweropsdevopsedition_7f3f4_DocumentUri_msapp_src/Src/Components/Preloader_1.json
  ALMAcceleratorForAdvancedMakers/SolutionPackage/CanvasApps/cat_poweropsdevopsedition_7f3f4_DocumentUri_msapp_src/Src/Components/TabControl_1.json
  ALMAcceleratorForAdvancedMakers/SolutionPackage/CanvasApps/cat_poweropsdevopsedition_7f3f4_DocumentUri_msapp_src/Src/Home.fx.yaml
  ALMAcceleratorForAdvancedMakers/SolutionPackage/CanvasApps/cat_poweropsdevopsedition_7f3f4_DocumentUri_msapp_src/pkgs/Components/Header.json
  ALMAcceleratorForAdvancedMakers/SolutionPackage/CanvasApps/cat_poweropsdevopsedition_7f3f4_DocumentUri_msapp_src/pkgs/Components/Preloader.json
  ALMAcceleratorForAdvancedMakers/SolutionPackage/CanvasApps/cat_poweropsdevopsedition_7f3f4_DocumentUri_msapp_src/pkgs/Components/TabControl.json
  ALMAcceleratorForAdvancedMakers/SolutionPackage/Other/Solution.xml
Labels: alm-accelerator

#904 #16 Adding new environment variables to deployment settings
  ALMAcceleratorSampleSolution/config/DeveloperImportSample/customDeploymentSettings.json
  ALMAcceleratorSampleSolution/config/Validate/customDeploymentSettings.json
  ALMAcceleratorSampleSolution/config/customDeploymentSettings.json
Labels: alm-accelerator

#907 #513 Updates to Docs to include latest pipeline changes
  ALMAcceleratorForAdvancedMakers/.attachments/DEPLOYMENTCONFIGGUIDE/image-20210723173238713.png
  ALMAcceleratorForAdvancedMakers/.attachments/SETUPGUIDE/image-20210723164226271.png
  ALMAcceleratorForAdvancedMakers/.attachments/SETUPGUIDE/image-20210723164756178.png
  ALMAcceleratorForAdvancedMakers/DEPLOYMENTCONFIGGUIDE.md
  ALMAcceleratorForAdvancedMakers/SAMPLESOLUTIONSETUPGUIDE.md
  ALMAcceleratorForAdvancedMakers/SETUPGUIDE.md
  ALMAcceleratorForAdvancedMakers/USERGUIDE.md
Labels: alm-accelerator

#911 Exporting without connectionparameters for custom connector
  ALMAcceleratorForAdvancedMakers/SolutionPackage/CanvasApps/cat_poweropsdevopsedition_7f3f4.meta.xml
  ALMAcceleratorForAdvancedMakers/SolutionPackage/Connectors/cat_5Fcustomazuredevops_connectionparameters.json
  ALMAcceleratorForAdvancedMakers/SolutionPackage/Other/Solution.xml
Labels: alm-accelerator

#908 Updating AA4AM Release Notes and Collateral for July Release
  CenterofExcellenceResources/Release/Collateral/ALMAcceleratorForAdvancedMakers/Power Platform COE Toolkit Command Line Interface.pdf
  CenterofExcellenceResources/Release/Notes/ALMAcceleratorForAdvancedMakers/RELEASENOTES-202107.md
  CenterofExcellenceResources/Release/Pipelines/ALMAcceleratorForAdvancedMakers/create-github-release.yml
  CenterofExcellenceResources/Release/Pipelines/CoEStarterKit/create-github-release.yml
Labels: alm-accelerator

#916 ALMAcceleratorSampleSolution July Release
  ALMAcceleratorSampleSolution/SolutionPackage/CanvasApps/cat_devopskitsamplecanvasapp_c7ec5.meta.xml
  ALMAcceleratorSampleSolution/SolutionPackage/CanvasApps/cat_devopskitsamplecanvasapp_c7ec5_DocumentUri_msapp_src/Assets/Resources.json
  ALMAcceleratorSampleSolution/SolutionPackage/CanvasApps/cat_devopskitsamplecanvasapp_c7ec5_DocumentUri_msapp_src/Assets/SampleImage.json
  ALMAcceleratorSampleSolution/SolutionPackage/CanvasApps/cat_devopskitsamplecanvasapp_c7ec5_DocumentUri_msapp_src/CanvasManifest.json
  ALMAcceleratorSampleSolution/SolutionPackage/CanvasApps/cat_devopskitsamplecanvasapp_c7ec5_DocumentUri_msapp_src/ComponentReferences.json
  ALMAcceleratorSampleSolution/SolutionPackage/CanvasApps/cat_devopskitsamplecanvasapp_c7ec5_DocumentUri_msapp_src/Connections/Connections.json
  ALMAcceleratorSampleSolution/SolutionPackage/CanvasApps/cat_devopskitsamplecanvasapp_c7ec5_DocumentUri_msapp_src/ControlTemplates.json
  ALMAcceleratorSampleSolution/SolutionPackage/CanvasApps/cat_devopskitsamplecanvasapp_c7ec5_DocumentUri_msapp_src/DataSources/CallMeFromCanvasApp.json
  ALMAcceleratorSampleSolution/SolutionPackage/CanvasApps/cat_devopskitsamplecanvasapp_c7ec5_DocumentUri_msapp_src/DataSources/CustomGallerySample.json
  ALMAcceleratorSampleSolution/SolutionPackage/CanvasApps/cat_devopskitsamplecanvasapp_c7ec5_DocumentUri_msapp_src/DataSources/EnvironmentVariableConnector.json
  ALMAcceleratorSampleSolution/SolutionPackage/CanvasApps/cat_devopskitsamplecanvasapp_c7ec5_DocumentUri_msapp_src/DataSources/GetEnvironmentVariables.json
  ALMAcceleratorSampleSolution/SolutionPackage/CanvasApps/cat_devopskitsamplecanvasapp_c7ec5_DocumentUri_msapp_src/Entropy/AppCheckerResult.sarif
  ALMAcceleratorSampleSolution/SolutionPackage/CanvasApps/cat_devopskitsamplecanvasapp_c7ec5_DocumentUri_msapp_src/Entropy/Entropy.json
  ALMAcceleratorSampleSolution/SolutionPackage/CanvasApps/cat_devopskitsamplecanvasapp_c7ec5_DocumentUri_msapp_src/Entropy/checksum.json
  ALMAcceleratorSampleSolution/SolutionPackage/CanvasApps/cat_devopskitsamplecanvasapp_c7ec5_DocumentUri_msapp_src/Src/App.fx.yaml
  ALMAcceleratorSampleSolution/SolutionPackage/CanvasApps/cat_devopskitsamplecanvasapp_c7ec5_DocumentUri_msapp_src/Src/EditorState/App.editorstate.json
  ALMAcceleratorSampleSolution/SolutionPackage/CanvasApps/cat_devopskitsamplecanvasapp_c7ec5_DocumentUri_msapp_src/Src/EditorState/MainScreen.editorstate.json
  ALMAcceleratorSampleSolution/SolutionPackage/CanvasApps/cat_devopskitsamplecanvasapp_c7ec5_DocumentUri_msapp_src/Src/EditorState/Test_7F478737223C4B69.editorstate.json
  ALMAcceleratorSampleSolution/SolutionPackage/CanvasApps/cat_devopskitsamplecanvasapp_c7ec5_DocumentUri_msapp_src/Src/MainScreen.fx.yaml
  ALMAcceleratorSampleSolution/SolutionPackage/CanvasApps/cat_devopskitsamplecanvasapp_c7ec5_DocumentUri_msapp_src/Src/Tests/Suite.fx.yaml
  ALMAcceleratorSampleSolution/SolutionPackage/CanvasApps/cat_devopskitsamplecanvasapp_c7ec5_DocumentUri_msapp_src/Src/Tests/Test_7F478737223C4B69.fx.yaml
  ALMAcceleratorSampleSolution/SolutionPackage/CanvasApps/cat_devopskitsamplecanvasapp_c7ec5_DocumentUri_msapp_src/Src/Themes.json
  ALMAcceleratorSampleSolution/SolutionPackage/CanvasApps/cat_devopskitsamplecanvasapp_c7ec5_DocumentUri_msapp_src/pkgs/Wadl/EnvironmentVariableConnector.xml
  ALMAcceleratorSampleSolution/SolutionPackage/CanvasApps/cat_devopskitsamplecanvasapp_c7ec5_DocumentUri_msapp_src/pkgs/Wadl/GetEnvironmentVariables.xml
  ALMAcceleratorSampleSolution/SolutionPackage/Connectors/cat_5Fenvironmentvariableconnector.xml
  ALMAcceleratorSampleSolution/SolutionPackage/Connectors/cat_5Fenvironmentvariableconnector_connectionparameters.json
  ALMAcceleratorSampleSolution/SolutionPackage/Connectors/cat_5Fenvironmentvariableconnector_iconblob.Png
  ALMAcceleratorSampleSolution/SolutionPackage/Connectors/cat_5Fenvironmentvariableconnector_openapidefinition.json
  ALMAcceleratorSampleSolution/SolutionPackage/Connectors/cat_5Fenvironmentvariableconnector_policytemplateinstances.json
  ALMAcceleratorSampleSolution/SolutionPackage/Other/Customizations.xml
  ALMAcceleratorSampleSolution/SolutionPackage/Other/Solution.xml
  ALMAcceleratorSampleSolution/SolutionPackage/Roles/ALM Accelerator Sample Role.xml
  ALMAcceleratorSampleSolution/SolutionPackage/Workflows/CallMeFromCanvasApp-71CC728C-2487-EB11-A812-000D3A8FE6A3.json
  ALMAcceleratorSampleSolution/SolutionPackage/Workflows/DevOpsKitSampleFlow-0A43B549-50ED-EA11-A815-000D3AF3A7C4.json
  ALMAcceleratorSampleSolution/SolutionPackage/Workflows/GetEnvironmentVariables-D2F7F0E2-A1A9-EB11-B1AC-000D3A53C3C2.json
  ALMAcceleratorSampleSolution/SolutionPackage/Workflows/GetEnvironmentVariables-D2F7F0E2-A1A9-EB11-B1AC-000D3A53C3C2.json.data.xml
  ALMAcceleratorSampleSolution/SolutionPackage/environmentvariabledefinitions/cat_ConnectorHostUrl/environmentvariabledefinition.xml
  ALMAcceleratorSampleSolution/SolutionPackage/environmentvariabledefinitions/cat_connectorBaseUrl/environmentvariabledefinition.xml
  ALMAcceleratorSampleSolution/config/ConfigurationMigrationData/[Content_Types].xml
  ALMAcceleratorSampleSolution/config/ConfigurationMigrationData/data.xml
  ALMAcceleratorSampleSolution/config/ConfigurationMigrationData/data_schema.xml
  ALMAcceleratorSampleSolution/config/DeveloperImportSample/ConfigurationMigrationData/[Content_Types].xml
  ALMAcceleratorSampleSolution/config/DeveloperImportSample/ConfigurationMigrationData/data.xml
  ALMAcceleratorSampleSolution/config/DeveloperImportSample/ConfigurationMigrationData/data_schema.xml
  ALMAcceleratorSampleSolution/config/DeveloperImportSample/customDeploymentSettings.json
  ALMAcceleratorSampleSolution/config/Validate/ConfigurationMigrationData/[Content_Types].xml
  ALMAcceleratorSampleSolution/config/Validate/ConfigurationMigrationData/data.xml
  ALMAcceleratorSampleSolution/config/Validate/ConfigurationMigrationData/data_schema.xml
  ALMAcceleratorSampleSolution/config/Validate/customDeploymentSettings.json
  ALMAcceleratorSampleSolution/config/Validate/deploymentSettings.json
  ALMAcceleratorSampleSolution/config/customDeploymentSettings.json
  ALMAcceleratorSampleSolution/config/deploymentSettings.json
Labels: alm-accelerator

#929 Solution Import and Default Template Pipeline
  coe-cli/docs/help/aa4am/branch.md
  coe-cli/docs/help/aa4am/install.md
  coe-cli/src/commands/aa4am.ts
  coe-cli/src/commands/commands.ts
  coe-cli/src/commands/devops.ts
  coe-cli/src/commands/powerplatform.ts
  coe-cli/test/commands/commands.spec.ts
  coe-cli/test/commands/devops.spec.ts
  coe-cli/test/commands/powerplatform.spec.ts
Labels: alm-accelerator
