Repository microsoft/coe-starter-kit, pull requests merged in 2021-06, with the labels that each got.

#524 Fixes #380 (#511)
  ALMAcceleratorForAdvancedMakers/SAMPLESOLUTIONSETUPGUIDE.md
  ALMAcceleratorForAdvancedMakers/SETUPGUIDE.md
Labels: alm-accelerator, documentation

#557 Fixes #115 and Fixes #27
  ALMAcceleratorForAdvancedMakers/SolutionPackage/CanvasApps/cat_poweropsdevopsedition_7f3f4.meta.xml
  ALMAcceleratorForAdvancedMakers/SolutionPackage/CanvasApps/cat_poweropsdevopsedition_7f3f4_DocumentUri_msapp_src/CanvasManifest.json
  ALMAcceleratorForAdvancedMakers/SolutionPackage/CanvasApps/cat_poweropsdevopsedition_7f3f4_DocumentUri_msapp_src/Connections/Connections.json
  ALMAcceleratorForAdvancedMakers/SolutionPackage/CanvasApps/cat_poweropsdevopsedition_7f3f4_DocumentUri_msapp_src/ControlTemplates.json
  ALMAcceleratorForAdvancedMakers/SolutionPackage/CanvasApps/cat_poweropsdevopsedition_7f3f4_DocumentUri_msapp_src/DataSources/BranchConfigFolders.json
  ALMAcceleratorForAdvancedMakers/SolutionPackage/CanvasApps/cat_poweropsdevopsedition_7f3f4_DocumentUri_msapp_src/DataSources/BranchSolutionFolders.json
  ALMAcceleratorForAdvancedMakers/SolutionPackage/CanvasApps/cat_poweropsdevopsedition_7f3f4_DocumentUri_msapp_src/DataSources/Users.json
  ALMAcceleratorForAdvancedMakers/SolutionPackage/CanvasApps/cat_poweropsdevopsedition_7f3f4_DocumentUri_msapp_src/Entropy/AppCheckerResult.sarif
  ALMAcceleratorForAdvancedMakers/SolutionPackage/CanvasApps/cat_poweropsdevopsedition_7f3f4_DocumentUri_msapp_src/Entropy/Entropy.json
  ALMAcceleratorForAdvancedMakers/SolutionPackage/CanvasApps/cat_poweropsdevopsedition_7f3f4_DocumentUri_msapp_src/Entropy/checksum.json
  ALMAcceleratorForAdvancedMakers/SolutionPackage/CanvasApps/cat_poweropsdevopsedition_7f3f4_DocumentUri_msapp_src/Src/Components/Header_3.json
  ALMAcceleratorForAdvancedMakers/SolutionPackage/CanvasApps/cat_poweropsdevopsedition_7f3f4_DocumentUri_msapp_src/Src/Components/Preloader_1.json
  ALMAcceleratorForAdvancedMakers/SolutionPackage/CanvasApps/cat_poweropsdevopsedition_7f3f4_DocumentUri_msapp_src/Src/Components/TabControl_1.json
  ALMAcceleratorForAdvancedMakers/SolutionPackage/CanvasApps/cat_poweropsdevopsedition_7f3f4_DocumentUri_msapp_src/Src/EditorState/Home.editorstate.json
  ALMAcceleratorForAdvancedMakers/SolutionPackage/CanvasApps/cat_poweropsdevopsedition_7f3f4_DocumentUri_msapp_src/Src/Home.fx.yaml
  ALMAcceleratorForAdvancedMakers/SolutionPackage/CanvasApps/cat_poweropsdevopsedition_7f3f4_DocumentUri_msapp_src/pkgs/Components/Header.json
  ALMAcceleratorForAdvancedMakers/SolutionPackage/CanvasApps/cat_poweropsdevopsedition_7f3f4_DocumentUri_msapp_src/pkgs/Components/Preloader.json
  ALMAcceleratorForAdvancedMakers/SolutionPackage/CanvasApps/cat_poweropsdevopsedition_7f3f4_DocumentUri_msapp_src/pkgs/Components/TabControl.json
  ALMAcceleratorForAdvancedMakers/SolutionPackage/CanvasApps/cat_poweropsdevopsedition_7f3f4_DocumentUri_msapp_src/pkgs/TableDefinitions/App User Settings.json
  ALMAcceleratorForAdvancedMakers/SolutionPackage/CanvasApps/cat_poweropsdevopsedition_7f3f4_DocumentUri_msapp_src/pkgs/TableDefinitions/User Settings.json
  ALMAcceleratorForAdvancedMakers/SolutionPackage/CanvasApps/cat_poweropsdevopsedition_7f3f4_DocumentUri_msapp_src/pkgs/TableDefinitions/Users.json
  ALMAcceleratorForAdvancedMakers/SolutionPackage/CanvasApps/cat_poweropsdevopsedition_7f3f4_DocumentUri_msapp_src/pkgs/Wadl/CustomAzureDevOps.xml
  ALMAcceleratorForAdvancedMakers/SolutionPackage/Connectors/cat_5Fcustomazuredevops_openapidefinition.json
  ALMAcceleratorForAdvancedMakers/SolutionPackage/Other/Solution.xml
Labels: alm-accelerator, enhancement

#568 #27 Testing Against AAS
  ALMAcceleratorSampleSolution/config/ConfigurationMigrationData/[Content_Types].xml
  ALMAcceleratorSampleSolution/config/ConfigurationMigrationData/data.xml
  ALMAcceleratorSampleSolution/config/ConfigurationMigrationData/data_schema.xml
  ALMAcceleratorSampleSolution/config/DeveloperImportSample/ConfigurationMigrationData/[Content_Types].xml
  ALMAcceleratorSampleSolution/config/DeveloperImportSample/ConfigurationMigrationData/data.xml
  ALMAcceleratorSampleSolution/config/DeveloperImportSample/ConfigurationMigrationData/data_schema.xml
  ALMAcceleratorSampleSolution/config/DeveloperImportSample/customDeploymentSettings.json
  ALMAcceleratorSampleSolution/config/Validate/ConfigurationMigrationData/[Content_Types].xml
  ALMAcceleratorSampleSolution/config/Validate/ConfigurationMigrationData/data.xml
  ALMAcceleratorSampleSolution/config/Validate/ConfigurationMigrationData/data_schema.xml
  ALMAcceleratorSampleSolution/config/Validate/customDeploymentSettings.json
  ALMAcceleratorSampleSolution/config/Validate/deploymentSettings.json
  ALMAcceleratorSampleSolution/config/customDeploymentSettings.json
  ALMAcceleratorSampleSolution/config/deploymentSettings.json
Labels: alm-accelerator

#597 #27
  ALMAcceleratorSampleSolution/config/DeveloperImportSample/customDeploymentSettings.json
  ALMAcceleratorSampleSolution/config/Validate/customDeploymentSettings.json
  ALMAcceleratorSampleSolution/config/Validate/deploymentSettings.json
  ALMAcceleratorSampleSolution/config/customDeploymentSettings.json
  ALMAcceleratorSampleSolution/config/deploymentSettings.json
Labels: alm-accelerator

#593 Add AA4AM issue template to replace generic bug report
  .github/ISSUE_TEMPLATE/alm-accelerator-for-advanced-makers-bug-report.md
Labels: alm-accelerator

#580 initial contrib guide
  .attachments/HOW_TO_CONTRIBUTE/fetch-upstream-changes.png
  CONTRIBUTING.md
  HOW_TO_CONTRIBUTE.md
Labels: alm-accelerator, documentation

#618 Update setup guide
  ALMAcceleratorForAdvancedMakers/.attachments/GETTINGSTARTED/image-20210216172510237.png
  ALMAcceleratorForAdvancedMakers/.attachments/GETTINGSTARTED/image-20210216172532444.png
  ALMAcceleratorForAdvancedMakers/.attachments/GETTINGSTARTED/image-5f17d96c-3f2f-4ea4-8e6b-7b5f921a7dcb.png
  ALMAcceleratorForAdvancedMakers/.attachments/GETTINGSTARTED/image-7767a85b-dabb-48c2-b151-16bc19aad809.png
  ALMAcceleratorForAdvancedMakers/.attachments/SETUPGUIDE/create-new-app-user.png
  ALMAcceleratorForAdvancedMakers/.attachments/SETUPGUIDE/environment-new-app-user.png
  ALMAcceleratorForAdvancedMakers/.attachments/SETUPGUIDE/environment-settings-applications-users.png
  ALMAcceleratorForAdvancedMakers/.attachments/SETUPGUIDE/environment-settings.png
  ALMAcceleratorForAdvancedMakers/SETUPGUIDE.md
Labels: alm-accelerator, documentation

#641 Minor doc updates to Sample Solution Setup Guide
  ALMAcceleratorForAdvancedMakers/.attachments/SAMPLESOLUTIONSETUPGUIDE/image-20210616130145498.png
  ALMAcceleratorForAdvancedMakers/SAMPLESOLUTIONSETUPGUIDE.md
  ALMAcceleratorForAdvancedMakers/SETUPGUIDE.md
Labels: alm-accelerator, documentation

#666 Updating extensions based on July release plan
  coe-cli/config/AzureDevOpsExtensionsDetails.json
Labels: coe-starter-kit

#644 steps to set default branch on import repo #635
  ALMAcceleratorForAdvancedMakers/.attachments/SETUPGUIDE/check-default-branch-imported-repository.png
  ALMAcceleratorForAdvancedMakers/.attachments/SETUPGUIDE/set-default-branch-imported-repository.png
  ALMAcceleratorForAdvancedMakers/SETUPGUIDE.md
Labels: alm-accelerator, documentation
