Repository microsoft/coe-starter-kit, pull requests merged in 2021-04, with the labels that each got.

#170 Adding build/deploy pipeline for PR Checks
  PowerPlatformDevOpsALM/build-deploy-validation-ALMAcceleratorForAdvancedMakers.yml
Labels: alm-accelerator, pipelines

#189 Improve readability of getting started doc
  PowerPlatformDevOpsALM/GETTINGSTARTED.md
Labels: alm-accelerator, documentation

#239 Added pr:none to test and prod pipeline
  PowerPlatformDevOpsALM/deploy-prod-ALMAcceleratorForAdvancedMakers.yml
  PowerPlatformDevOpsALM/deploy-test-ALMAcceleratorForAdvancedMakers.yml
Labels: coe-starter-kit, pipelines
